    @model X.PagedList.IPagedList<PetraSurpriseMvc.ViewModels.GiftListViewModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using X.PagedList.Mvc;
@using X.PagedList;
<h2>Our Gifts</h2>
<div class="row">
    

    @foreach (var item in Model)
            {

        <div class="col-md-4 col-xs-6">
            <div class="thumbnail">
                <img src="@Url.Content(item.Photo)" class="img-responsive" alt="Alt" />

                <div class="caption">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Price)</p>
                </div>
            </div>
        </div>


    }
</div>
              Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


                  @Html.PagedListPager(Model, page => Url.Action("index", new { Page = page }))

<br />
